* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix:before,.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}

body {
    background-size: 100% auto;
    background: url("images/background.jpg") no-repeat;
    font-family:sans-serif;
}

/*透明淡蓝色框*/
.box {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    /*实现块元素百分比下居中*/
    width:450px;
    padding:50px 50px 10px 50px;
    background: rgba(135,206,250,0.8);
    box-sizing:border-box;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.5);
    border-radius:15px;
}

.box h2{
    margin:0 0 30px;
    padding:0;
    color: #fff;
    text-align:center;
}

.box .inputbox{
    position:relative;
}

.box .inputbox input{
    width: 100%;
    padding:10px 0;
    font-size:16px;
    color:#fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border:none;
    border-bottom: 1px solid #fff;
    outline:none;
    background: transparent;
}

/*实现用户名和密码的动态效果*/
.box .inputbox label{
    position:absolute;
    top:0px;
    left:0px;
    padding:10px 0;
    font-size: 16px;
    color:#fff;
    pointer-events:none;
    transition:.5s;
}

.box .inputbox input:focus ~ label,
.box .inputbox input:valid ~ label {
    top:-18px;
    left:0;
    color:#03a9f4;
    font-size:14px;
}

.box button{
    width: 200px;
    margin-left: 75px;
    background: transparent;
    border:none;
    outline:none;
    font-size: 16px;
    color:#fff;
    background: #03a9f4;
    padding:15px 20px;
    cursor: pointer;
    border-radius:10px;
}

/*注册账户 找回密码*/
.registerAndFind li {
    float: left;
    margin-right: 222px;
    margin-top: 10px;
}

#findCode {
    margin: 10px 0 0;
}

.registerAndFind li a {
    color: #fff;
}

.registerAndFind li a:hover{
    border-bottom: 1px solid #fff;
}